{% extends "accounts/layout.html" %}

{% block content %}
<div id="container">
    <div class="form_container">
        <div class="form">
            <form method="post">
                {% csrf_token %}
                {% include "form_errors.html" %}
                    <p>
                        <h3><label for="id_username">아이디</label></h3>
                        <input type="text" name="username" pattern="[a-zA-Z0-9]+" title="특수문자, 공백 입력 불가" autofocus="" required="" id="{{form.username.id_for_label}}">
                    </p>
                    <p>
                        <h3><label for="id_email">이메일 주소</label></h3>
                        <input type="email" name="email" maxlength="254" id="{{form.email.id_for_label}}">
                    </p>
                    <p>
                        <h3><label for="id_password1">비밀번호</label></h3>
                        <input type="password" name="password1" autocomplete="new-password" required="" id="{{form.password1.id_for_label}}">
                    </p>
                    <p>
                        <h3><label for="id_password2">비밀번호 확인</label></h3>
                        <input type="password" name="password2" autocomplete="new-password" required="" id="{{form.password2.id_for_label}}">
                    </p>
                    <p>
                        <h3><label for="id_user_name">이름</label></h3>
                        <input type="text" name="user_name" required="" id="{{form.user_name.id_for_label}}">
                    </p>
                    <p>
                        <h3><label for="id_phone_number">핸드폰 번호</label></h3>
                        <input type="text" name="phone_number" required="" id="{{form.phone_number.id_for_label}}" placeholder="'-'를 제외한 숫자 11자리">
                    </p>
                    <p>
                        <h3><label for="id_gender">성별</label></h3>
                        <select name="gender" id="{{form.gender.id_for_label}}">
                            <option value="성별">성별</option>
                            <option value="여성">여성</option>
                            <option value="남성">남성</option>
                        </select>
                    </p>
                    <p>
                        <h3><label for="id_birth_date">생년월일:</label></h3>
                        <input type="text" name="birth_date" required="" id="{{form.birth_date.id_for_label}}" placeholder="EX)YYYY-MM-DD">
                    </p>
                <input type="submit" id="submit_btn" value="회원가입" class="submit_btn">
            </form>
        </div>
    </div>
</div>
<div class="bottom_box">
    <div id="bottom">
        <span>아이디가 있으신가요? </span>
        <a href="{% url 'accounts:login'%}">로그인</a>
    </div>
</div>
{% endblock %}
