{% extends 'community/forum_layout.html' %}

{% block content %}

<div id='question_detail' class="container my-3">
    <h2 class="border-bottom py-2">{{ question.subject }}
<!--        로그인 한 유저와 작성자가 같으면 수정 버튼 보이도록 조건문 추가-->
        {% if request.user == question.author %}
        <span id='edit' class="float-right py-2"><i onclick="location.href='{% url 'community:question_modify' question.id %}'" class="xi-pen-o"></i></span>
        {% endif %}
    </h2>
    <div class="card my-3">
        <div class="card-header text-left bg-white border-bottom-0">
            <span>{{ question.author }}</span><span>{{ question.create_date }}</span>
        </div>
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                {{ question.content }}
            </div>
        </div>
    </div>

    <h4 class="border-bottom text-left my-3 py-2"> 댓글 <span>{{question.answer_set.count}}</span></h4>
    <!-- 답변출력 -->
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-header text-left bg-white border-bottom-0">
            <span>{{ answer.author }}</span><span>{{ answer.create_date }}</span>
        </div>
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                {{ answer.content }}
            </div>
        </div>
    </div>
    {% endfor %}

<!-- 답변등록 form 생성 -->
    <form id='answer_form' action="{% url 'community:answer_create' question.id %}" method="post" class="my-3" >
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="form-group">
                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn border float-right">새 댓글</button>
        </form>
        {% else %}
            <div class="form-group">
                <textarea placeholder="로그인 후 이용해주세요." class="form-control" rows="10" disabled=""></textarea>
            </div>
        </form>
        <button onclick="location.href='{% url 'accounts:login' %}'" title="로그인 후 이용해주세요." class="btn border float-right"> 로그인 후 댓글 쓰기</button>
        {% endif %}
</div>
{% endblock %}