{% extends 'community/forum_layout.html' %}
{% load combot_filter %}

{% block content %}

<!--    http://서버주소/combot/question_create -->

<div class="container my-3">
    <div id="new_question_btn">
        <button onclick="location.href='{% url 'community:question_create' %}'" class="btn border float-right"> <span><i class="xi-plus"></i> 새 글쓰기</span></button>
    </div>
    <!--    <a href="{% url 'community:question_create' %}" class="btn btn-primary float-right">질문 등록하기</a>-->
<!-- m : margin p : padding -->
    {% if question_list %}
    {% for question in question_list %}
    <div id='question_list' class="border-0">
        <div class="card my-3 text-left bg-white">
            <div class="card-header bg-white border-0 my-3">
                <a href="{% url 'community:detail' question.id %}"><h3>{{question.subject}}</h3></a>
            </div>
            <div class="card-body my-3">
                <a href="{% url 'community:detail' question.id %}">{{question.content|mark}}</a>
            </div>
            <div class="card-footer bg-white border-0 my-3">
                <span> 작성자 : {{question.author}}</span><span>|</span><span>작성일 : {{question.create_date}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div id='question_list' class="container my-3 border-0">
        <div class="card my-3 text-left bg-white">
            질문이 없습니다.
        </div>
    </div>
    {% endif %}

<!-- 페이징처리 시작 -->
    <ul id='paginator' class="pagination justify-content-center">
        <!-- 이전페이지 출력 -->
        {% if question_list.has_previous %} <!-- 현재 페이지 기준으로 이전 페이지가 있으면 -->
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
        </li>
        {% else %} <!-- 이전 페이지가 없는 경우 -->
<!--        <li class="page-item disabled">-->
<!--            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>-->
<!--        </li>-->
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %} <!-- 총 베이지 번호 만큼 for loop 실행 -->
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
            <!-- 새로 구성될 페이지 번호가 현재페이지 기준으로 크면 5만큼 작은 값만 표시 and
            현재 페이지 기준으로 작으면 5만큼 큰값만 표시 -->
            {% if page_number == question_list.number %} <!-- 마지막 페이지인지 여부 -->
            <li id='current_page' class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.next_page_number }}"><i class="xi-angle-right"></i></a>
        </li>
        {% else %}
<!--        <li class="page-item disabled">-->
<!--            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><i class="xi-angle-right"></i></a>-->
<!--        </li>-->
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %}